:root {
    --main-bg-color: rgba(255, 255, 255, 0.438);
    --animation-duration: 2s;
    --square-size: 20px;
    --square-animation-duration: 5s;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image:  url(img/background.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    position: relative;
    background: var(
      --main-bg-color
    ); /* Используем CSS-переменную для фона контейнера */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.824);
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: var(
      --main-bg-color
    ); /* Используем CSS-переменную для фона инпутов */
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right top, #ff0080, #8000ff);
    color: #fff;
    cursor: pointer;
  }
  
  /* Анимация меньших квадратов */
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--square-size);
    height: var(--square-size);
    background: var(
      --main-bg-color
    ); /* Используем CSS-переменную для фона квадратов */
    animation: moveSquares var(--square-animation-duration) linear infinite
      alternate;
  }
  
  @keyframes moveSquares {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(50px, 50px);
    }
  }
  
  /* Адаптивный дизайн */
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  
  
  